<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bazl.dna.database.service.mapper.CaseImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bazl.dna.database.service.model.po.CaseImage">
        <id column="ID" property="id" />
        <result column="CASE_ID" property="caseId" />
        <result column="IMAGE_DESC" property="imageDesc" />
        <result column="CASE_IMAGE" property="caseImage"
                jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>

</mapper>
