<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bazl.dna.database.service.mapper.CriminalSampleInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bazl.dna.database.service.model.po.CriminalSampleInfo">
        <id column="id" property="id" />
        <result column="LIMS_SAMPLE_UUID" property="limsSampleUuid" />
        <result column="LAB_SERVER_NO" property="labServerNo" />
        <result column="INSTORE_DATA_TYPE" property="instoreDataType" />
        <result column="REF_PERSON_ID" property="refPersonId" />
        <result column="SAMPLE_TYPE" property="sampleType" />
        <result column="SAMPLE_LAB_NO" property="sampleLabNo" />
        <result column="SAMPLE_NAME" property="sampleName" />
        <result column="SAMPLE_DESC" property="sampleDesc" />
        <result column="SAMPLE_PACKAGE" property="samplePackage" />
        <result column="SAMPLE_CARRIER" property="sampleCarrier" />
        <result column="COLLECT_ORG_CODE" property="collectOrgCode" />
        <result column="COLLECT_ORG_NAME" property="collectOrgName" />
        <result column="COLLECT_DATETIME" property="collectDatetime" />
        <result column="COLLECT_PERSON" property="collectPerson" />
        <result column="COLLECT_PHONE" property="collectPhone" />
        <result column="ACCEPT_ORG_CODE" property="acceptOrgCode" />
        <result column="ACCEPT_ORG_NAME" property="acceptOrgName" />
        <result column="ACCEPT_PERSON_ID" property="acceptPersonId" />
        <result column="ACCEPT_PERSON_NAME" property="acceptPersonName" />
        <result column="ACCEPT_DATETIME" property="acceptDatetime" />
        <result column="TRANSFER_FLAG" property="transferFlag" />
        <result column="NATION_SYS_NO" property="nationSysNo" />
        <result column="TRANSFER_DATETIME" property="transferDatetime" />
        <result column="TRANSFER_PERSON_ID" property="transferPersonId" />
        <result column="TRANSFER_PERSON_NAME" property="transferPersonName" />
        <result column="DELETE_FLAG" property="deleteFlag" />
        <result column="DELETE_REASON" property="deleteReason" />
        <result column="DELETE_DATETIME" property="deleteDatetime" />
        <result column="DELETE_PERSON_NAME" property="deletePersonName" />
        <result column="STORE_DATETIME" property="storeDatetime" />
        <result column="STORE_PERSON_ID" property="storePersonId" />
        <result column="STORE_PERSON_NAME" property="storePersonName" />
        <result column="UPDATE_DATETIME" property="updateDatetime" />
        <result column="UPDATE_PERSON_ID" property="updatePersonId" />
        <result column="UPDATE_PERSON_NAME" property="updatePersonName" />
    </resultMap>

    <resultMap id="VoResultMap" type="com.bazl.dna.database.service.model.vo.CriminalSampleInfoVo"
               extends="BaseResultMap">
        <result column="INSTORE_DATA_TYPE_NAME" property="instoreDataTypeName" />
        <result column="SAMPLE_TYPE_NAME" property="sampleTypeName" />
    </resultMap>

    <resultMap id="ResultMap" type="com.bazl.dna.database.service.model.vo.DnaMixGeneInfoVo" extends="BaseResultMap">
        <result column="PANEL_NAME" property="panelName" />
    </resultMap>

    <sql id="Base_Column_List">
        csi.id, csi.LIMS_SAMPLE_UUID, csi.LAB_SERVER_NO, csi.INSTORE_DATA_TYPE, csi.REF_PERSON_ID, csi.SAMPLE_TYPE,
        csi.SAMPLE_LAB_NO, csi.SAMPLE_NAME, csi.SAMPLE_DESC, csi.SAMPLE_PACKAGE, csi.SAMPLE_CARRIER, csi.TRANSFER_FLAG,
        csi.NATION_SYS_NO, csi.TRANSFER_DATETIME, csi.TRANSFER_PERSON_ID, csi.TRANSFER_PERSON_NAME, csi.DELETE_FLAG,
        csi.DELETE_REASON, csi.DELETE_DATETIME, csi.DELETE_PERSON_NAME, csi.STORE_DATETIME, csi.STORE_PERSON_ID,
        csi.STORE_PERSON_NAME, csi.UPDATE_DATETIME, csi.UPDATE_PERSON_ID, csi.UPDATE_PERSON_NAME
    </sql>


    <select id="selectVoListByPersonId" parameterType="java.lang.Integer" resultMap="VoResultMap">
      SELECT
        <include refid="Base_Column_List" />,
        idt.TYPE_NAME as INSTORE_DATA_TYPE_NAME,
        di1.DICT_NAME as SAMPLE_TYPE_NAME
      FROM CRIMINAL_SAMPLE_INFO csi
            LEFT JOIN instore_data_type idt on idt.TYPE_CODE=csi.INSTORE_DATA_TYPE
            LEFT JOIN DICT_ITEM di1 on di1.DICT_CODE=csi.SAMPLE_TYPE and di1.DICT_TYPE_CODE='SAMPLE_TYPE'
      where csi.REF_PERSON_ID=#{_parameter, jdbcType=INTEGER}
    </select>

    <select id="selectBySampleIdVoList" parameterType="java.lang.Integer" resultMap="ResultMap">
        SELECT sgi.GENE_INFO, dpi.PANEL_NAME, sgi.LOCUS_COUNT, sgi.GENE_IMAGE,'1' as ystrFlag
        FROM CRIMINAL_SAMPLE_INFO csi
        left join dna_str_gene_info sgi on sgi.SAMPLE_ID = csi.ID
        left join dna_panel_info dpi on dpi.ID = sgi.DNA_PANEL_ID
        where csi.ID=#{id, jdbcType=INTEGER}
        UNION
        SELECT ygi.GENE_INFO, dpi.PANEL_NAME, ygi.LOCUS_COUNT, ygi.GENE_IMAGE,'2' as ystrFlag
        FROM CRIMINAL_SAMPLE_INFO csi
        left join dna_ystr_gene_info ygi on ygi.SAMPLE_ID = csi.ID
        left join dna_panel_info dpi on dpi.ID = ygi.DNA_PANEL_ID
        where csi.ID=#{id, jdbcType=INTEGER}
    </select>

</mapper>
