<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bazl.dna.database.service.mapper.InstoreDataConditionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bazl.dna.database.service.model.po.InstoreDataCondition">
        <id column="ID" property="id" />
        <result column="INSTORE_DATA_TYPE" property="instoreDataType" />
        <result column="STR_LOCUS_COUNT" property="strLocusCount" />
        <result column="YSTR_LOCUS_COUNT" property="ystrLocusCount" />
    </resultMap>

    <sql id="Base_Column_List">
        i.id,i.INSTORE_DATA_TYPE,i.STR_LOCUS_COUNT,i.YSTR_LOCUS_COUNT
    </sql>

    <select id="LeastGeneCountForInstoreDataType" parameterType="com.bazl.dna.database.service.model.po.InstoreDataCondition" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />,
        idt.TYPE_NAME as INSTORE_DATA_TYPE_NAME
        from INSTORE_DATA_CONDITION i
        left join INSTORE_DATA_TYPE idt
        on i.INSTORE_DATA_TYPE = idt.TYPE_CODE
    </select>

</mapper>
