<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bazl.dna.lims.dao.AmPersonalAptitudeMapper" >
  <resultMap id="BaseResultMap" type="com.bazl.dna.lims.model.po.AmPersonalAptitude" >
    <result column="PERSONAL_ID" property="personalId" jdbcType="VARCHAR" />
    <result column="APTITUDE_ID" property="aptitudeId" jdbcType="VARCHAR" />
    <result column="APTITUDE_SN" property="aptitudeSn" jdbcType="VARCHAR" />
    <result column="APTITUDE_MAJOR" property="aptitudeMajor" jdbcType="VARCHAR" />
    <result column="APTITUDE_ISSUEDBY" property="aptitudeIssuedby" jdbcType="VARCHAR" />
    <result column="APTITUDE_STARTTIME" property="aptitudeStarttime" jdbcType="TIMESTAMP" />
    <result column="APTITUDE_ENDTIME" property="aptitudeEndtime" jdbcType="TIMESTAMP" />
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR" />
    <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR" />
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="DELETE_PERSON" property="deletePerson" jdbcType="VARCHAR" />
    <result column="DELETE_DATETIME" property="deleteDatetime" jdbcType="TIMESTAMP" />
    <result column="APTITUDE_PICTUREURL" property="aptitudePictureurl" jdbcType="VARCHAR" />
    <result column="APTITUDE_PICTURE" property="aptitudePicture" jdbcType="CLOB" />
  </resultMap>
  <select id="queryAmPersonalAptitudeById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PERSONAL_ID, APTITUDE_ID, APTITUDE_SN, APTITUDE_MAJOR, APTITUDE_ISSUEDBY, 
    APTITUDE_STARTTIME, APTITUDE_ENDTIME, CREATE_DATETIME, CREATE_PERSON, UPDATE_PERSON, 
    UPDATE_DATETIME, DELETE_PERSON, DELETE_DATETIME, APTITUDE_PICTUREURL, APTITUDE_PICTURE
    from AM_PERSONAL_APTITUDE WHERE PERSONAL_ID=#{personalId,jdbcType=VARCHAR}
  </select>
</mapper>