<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bazl.dna.lims.dao.ArchivesEvidenceMapper" >
  <resultMap id="BaseResultMap" type="com.bazl.dna.lims.model.po.DnaEvidenceCount" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ARCHIVES_COUNT" property="archiveCount" jdbcType="VARCHAR" />
    <result column="EXTANT_ARCHIVES_COUNT" property="extantArchiveCount" jdbcType="VARCHAR" />
    <result column="EVIDENCE_COUNT" property="evidenceCount" jdbcType="VARCHAR" />
    <result column="EXTANT_EVIDENCE_COUNT" property="extantEvidenceCount" jdbcType="VARCHAR" />
    <result column="CENTER_ORG_CODE" property="centerOrgCode" jdbcType="VARCHAR" />
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
  </resultMap>

   <sql id="Base_column_list">
        d.ID, d.ARCHIVES_COUNT, d.EXTANT_ARCHIVES_COUNT, d.EVIDENCE_COUNT, d.EXTANT_EVIDENCE_COUNT,
        d.CENTER_ORG_CODE,d.UPDATE_DATETIME
   </sql>

  <select id="selectAllCount"  parameterType="com.bazl.dna.lims.model.po.DnaEvidenceCount" resultMap="BaseResultMap">
    select <include refid="Base_column_list"/>
    from  DNA_EVIDENCE_COUNT d
    order by d.CENTER_ORG_CODE
  </select>
</mapper>