<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bazl.dna.lims.dao.CompareSameResultMapper" >
  <resultMap id="BaseResultMap" type="com.bazl.dna.lims.model.po.CompareSameResult" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CASE_ID" property="caseId" jdbcType="VARCHAR" />
    <result column="PANEL_ID" property="panelId" jdbcType="VARCHAR" />
    <result column="REFERENCE_ID" property="referenceId" jdbcType="VARCHAR" />
    <result column="SAMPLE_NO" property="sampleNo" jdbcType="VARCHAR" />
    <result column="COMPARE_BOARD_NO" property="compareBoardNo" jdbcType="VARCHAR" />
    <result column="COMPARE_GENE_SUM" property="compareGeneSum" jdbcType="DECIMAL" />
    <result column="COMPARE_TOTAL_PROBABILITY" property="compareTotalProbability" jdbcType="VARCHAR" />
    <result column="COMPARE_POPULATION_ID" property="comparePopulationId" jdbcType="VARCHAR" />
    <result column="MATCH_LIMIT" property="matchLimit" jdbcType="DECIMAL" />
    <result column="TOLERANCE" property="tolerance" jdbcType="DECIMAL" />
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR" />
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMPARE_SAME_RESULT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByCaseId" parameterType="java.lang.String">
    delete from COMPARE_SAME_RESULT where CASE_ID = #{caseId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.bazl.dna.lims.model.po.CompareSameResult" >
    insert into COMPARE_SAME_RESULT (ID, CASE_ID, PANEL_ID, 
      REFERENCE_ID, SAMPLE_NO, COMPARE_BOARD_NO, 
      COMPARE_GENE_SUM, COMPARE_TOTAL_PROBABILITY, 
      COMPARE_POPULATION_ID, MATCH_LIMIT, TOLERANCE, 
      CREATE_DATETIME, CREATE_PERSON, UPDATE_DATETIME, 
      UPDATE_PERSON)
    values (#{id,jdbcType=VARCHAR}, #{caseId,jdbcType=VARCHAR}, #{panelId,jdbcType=VARCHAR}, 
      #{referenceId,jdbcType=VARCHAR}, #{sampleNo,jdbcType=VARCHAR}, #{compareBoardNo,jdbcType=VARCHAR}, 
      #{compareGeneSum,jdbcType=DECIMAL}, #{compareTotalProbability,jdbcType=VARCHAR}, 
      #{comparePopulationId,jdbcType=VARCHAR}, #{matchLimit,jdbcType=DECIMAL}, #{tolerance,jdbcType=DECIMAL}, 
      #{createDatetime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}, #{updateDatetime,jdbcType=TIMESTAMP}, 
      #{updatePerson,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bazl.dna.lims.model.po.CompareSameResult" >
    update COMPARE_SAME_RESULT
    set CASE_ID = #{caseId,jdbcType=VARCHAR},
      PANEL_ID = #{panelId,jdbcType=VARCHAR},
      REFERENCE_ID = #{referenceId,jdbcType=VARCHAR},
      SAMPLE_NO = #{sampleNo,jdbcType=VARCHAR},
      COMPARE_BOARD_NO = #{compareBoardNo,jdbcType=VARCHAR},
      COMPARE_GENE_SUM = #{compareGeneSum,jdbcType=DECIMAL},
      COMPARE_TOTAL_PROBABILITY = #{compareTotalProbability,jdbcType=VARCHAR},
      COMPARE_POPULATION_ID = #{comparePopulationId,jdbcType=VARCHAR},
      MATCH_LIMIT = #{matchLimit,jdbcType=DECIMAL},
      TOLERANCE = #{tolerance,jdbcType=DECIMAL},
      CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      CREATE_PERSON = #{createPerson,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
      UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ID, CASE_ID, PANEL_ID, REFERENCE_ID, SAMPLE_NO, COMPARE_BOARD_NO, COMPARE_GENE_SUM, 
    COMPARE_TOTAL_PROBABILITY, COMPARE_POPULATION_ID, MATCH_LIMIT, TOLERANCE, CREATE_DATETIME, 
    CREATE_PERSON, UPDATE_DATETIME, UPDATE_PERSON
    from COMPARE_SAME_RESULT
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectListByCaseId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select csr.*,
    lsid.SAMPLE_NO as sampleNo,
    lsid.SAMPLE_FLAG as sampleFlag,
    lsid.SAMPLE_NAME as sampleName
    from COMPARE_SAME_RESULT csr
    left join LIMS_SAMPLE_INFO_DNA lsid on lsid.SAMPLE_NO = csr.SAMPLE_NO
    where csr.CASE_ID = #{caseId,jdbcType=VARCHAR} and lsid.delete_flag='0'
    order by lsid.sample_flag,csr.SAMPLE_NO asc
  </select>

  <select id="selectDistinctListByCaseId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select distinct csr.reference_id,lsid.sample_flag as sampleFlag,csr.reference_id  as SAMPLE_NO
    from COMPARE_SAME_RESULT csr
    left join LIMS_SAMPLE_INFO_DNA lsid on lsid.SAMPLE_NO = csr.reference_id
    where csr.CASE_ID = #{caseId,jdbcType=VARCHAR} and lsid.delete_flag='0'
    order by lsid.sample_flag desc, csr.reference_id asc
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, CASE_ID, PANEL_ID, REFERENCE_ID, SAMPLE_NO, COMPARE_BOARD_NO, COMPARE_GENE_SUM, 
    COMPARE_TOTAL_PROBABILITY, COMPARE_POPULATION_ID, MATCH_LIMIT, TOLERANCE, CREATE_DATETIME, 
    CREATE_PERSON, UPDATE_DATETIME, UPDATE_PERSON
    from COMPARE_SAME_RESULT
  </select>
</mapper>