<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bazl.dna.lims.dao.NewLimsSampleInfoDnaMapper" >
  <resultMap id="BaseResultMap" type="com.bazl.dna.lims.model.po.LimsSampleInfoDna" >
    <id column="SAMPLE_ID" property="sampleId" jdbcType="VARCHAR" />
    <result column="CONSIGNMENT_ID" property="consignmentId" jdbcType="VARCHAR" />
    <result column="CASE_ID" property="caseId" jdbcType="VARCHAR" />
    <result column="EVIDENCE_ID" property="evidenceId" jdbcType="VARCHAR" />
    <result column="SAMPLE_NO" property="sampleNo" jdbcType="VARCHAR" />
    <result column="SAMPLE_NAME" property="sampleName" jdbcType="VARCHAR" />
    <result column="SAMPLE_TYPE" property="sampleType" jdbcType="VARCHAR" />
    <result column="SAMPLE_DESC" property="sampleDesc" jdbcType="VARCHAR" />
    <result column="SAMPLE_PACKING" property="samplePacking" jdbcType="VARCHAR" />
    <result column="SAMPLE_CARRIER" property="sampleCarrier" jdbcType="VARCHAR" />
    <result column="EXTRACT_DATETIME" property="extractDatetime" jdbcType="TIMESTAMP" />
    <result column="EXTRACT_PERSON" property="extractPerson" jdbcType="VARCHAR" />
    <result column="EXTRACT_METHOD" property="extractMethod" jdbcType="VARCHAR" />
    <result column="EXTRACT_PART" property="extractPart" jdbcType="VARCHAR" />
    <result column="SAMPLE_FLAG" property="sampleFlag" jdbcType="VARCHAR" />
    <result column="LINK_ID" property="linkId" jdbcType="VARCHAR" />
    <result column="SAMPLE_PURPOSE" property="samplePurpose" jdbcType="VARCHAR" />
    <result column="SAMPLE_STATUS" property="sampleStatus" jdbcType="VARCHAR" />
    <result column="INSTORED_FLAG" property="instoredFlag" jdbcType="VARCHAR" />
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR" />
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="VARCHAR" />
    <result column="DELETE_DATETIME" property="deleteDatetime" jdbcType="TIMESTAMP" />
    <result column="DELETE_PERSON" property="deletePerson" jdbcType="VARCHAR" />
    <result column="DELETE_REASON" property="deleteReason" jdbcType="VARCHAR" />
    <result column="SAMPLE_REMARK" property="sampleRemark" jdbcType="VARCHAR" />
    <result column="SAMPLE_DNA_PICTURE" property="sampleDnaPicture" jdbcType="VARCHAR" />
    <result column="SAMPLE_DNA_PICTURE_PATH" property="sampleDnaPicturePath" jdbcType="VARCHAR" />
    <result column="SAMPLE_TYPE_NAME" property="sampleTypeName" jdbcType="VARCHAR" />
    <result column="EXTRACT_METHOD_NAME" property="extractMethodName" jdbcType="VARCHAR" />
    <result column="SAMPLE_PACKING_NAME" property="samplePackingName" jdbcType="VARCHAR" />
    <result column="PRE_METHOD1_RESULT" property="preMethod1Result" jdbcType="VARCHAR" />
    <result column="PRE_METHOD2_RESULT" property="preMethod2Result" jdbcType="VARCHAR" />
    <result column="PRE_METHOD3_RESULT" property="preMethod3Result" jdbcType="VARCHAR" />
    <result column="IS_RETAIN" property="isRetain" jdbcType="VARCHAR" />
    <result column="REFUSE_REASON" property="refuseReason" jdbcType="VARCHAR" />
    <result column="SAMPLE_MATERIAL_PICTURE" property="sampleMaterialPicture" jdbcType="VARCHAR" />
    <result column="SAMPLE_MATERIAL_PICTURE_PATH" property="sampleMaterialPicturePath" jdbcType="VARCHAR" />
    <result column="INSTORED_TYPE" property="instoredType" jdbcType="VARCHAR" />
    <result column="INSTORED_DATETIME" property="instoredDatetime" jdbcType="TIMESTAMP" />
    <result column="INSTORED_PERSON" property="instoredPerson" jdbcType="VARCHAR" />
    <result column="EVIDENCE_NO" property="evidenceNo" jdbcType="VARCHAR" />
    <result column="GJK_SYS_NO" property="gjkSYSNo" jdbcType="VARCHAR" />
    <result column="CORE_TAKEN_STATS" property="coreTakenStats" jdbcType="VARCHAR" />

  </resultMap>

  <update id="updatePre" parameterType="com.bazl.dna.lims.model.po.LimsSampleInfoDna" >
    update LIMS_SAMPLE_INFO_DNA
    set
    PRE_METHOD1_RESULT = #{preMethod1Result,jdbcType=VARCHAR},
    PRE_METHOD2_RESULT = #{preMethod2Result,jdbcType=VARCHAR},
    PRE_METHOD3_RESULT = #{preMethod3Result,jdbcType=TIMESTAMP}
    where SAMPLE_ID = #{sampleId,jdbcType=VARCHAR}
  </update>


</mapper>