<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bazl.dna.lims.dao.RaceMapper" >
  <resultMap id="BaseResultMap" type="com.bazl.dna.lims.model.po.Race" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="RACE_NAME" property="raceName" jdbcType="VARCHAR" />
    <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR" />
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from RACE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bazl.dna.lims.model.po.Race" >
    insert into RACE (ID, RACE_NAME, CREATE_PERSON, 
      CREATE_DATETIME, COMMENTS)
    values (#{id,jdbcType=VARCHAR}, #{raceName,jdbcType=VARCHAR}, #{createPerson,jdbcType=VARCHAR}, 
      #{createDatetime,jdbcType=TIMESTAMP}, #{comments,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bazl.dna.lims.model.po.Race" >
    update RACE
    set RACE_NAME = #{raceName,jdbcType=VARCHAR},
      CREATE_PERSON = #{createPerson,jdbcType=VARCHAR},
      CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      COMMENTS = #{comments,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ID, RACE_NAME, CREATE_PERSON, CREATE_DATETIME, COMMENTS
    from RACE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, RACE_NAME, CREATE_PERSON, CREATE_DATETIME, COMMENTS
    from RACE
  </select>
</mapper>