<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bazl.dna.mix.connector.nation.dao.ReagentKitMapper" >
  <resultMap id="BaseResultMap" type="com.bazl.dna.mix.connector.nation.model.po.ReagentKit" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="GENE_TYPE" property="geneType" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ALIAS" property="alias" jdbcType="VARCHAR" />
    <result column="REAGENT_KIT_DESC" property="reagentKitDesc" jdbcType="VARCHAR" />
    <result column="ORD" property="ord" jdbcType="DECIMAL" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="DECIMAL" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="java.util.Map" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from REAGENT_KIT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bazl.dna.mix.connector.nation.model.po.ReagentKit" >
    insert into REAGENT_KIT (ID, GENE_TYPE, CODE, 
      NAME, ALIAS, REAGENT_KIT_DESC, 
      ORD, DELETE_FLAG, CREATE_USER, 
      CREATE_DATETIME, UPDATE_USER, UPDATE_DATETIME
      )
    values (#{id,jdbcType=VARCHAR}, #{geneType,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{reagentKitDesc,jdbcType=VARCHAR}, 
      #{ord,jdbcType=DECIMAL}, #{deleteFlag,jdbcType=DECIMAL}, #{createUser,jdbcType=VARCHAR}, 
      #{createDatetime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bazl.dna.mix.connector.nation.model.po.ReagentKit" >
    update REAGENT_KIT
    set GENE_TYPE = #{geneType,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      ALIAS = #{alias,jdbcType=VARCHAR},
      REAGENT_KIT_DESC = #{reagentKitDesc,jdbcType=VARCHAR},
      ORD = #{ord,jdbcType=DECIMAL},
      DELETE_FLAG = #{deleteFlag,jdbcType=DECIMAL},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ID, GENE_TYPE, CODE, NAME, ALIAS, REAGENT_KIT_DESC, ORD, DELETE_FLAG, CREATE_USER, 
    CREATE_DATETIME, UPDATE_USER, UPDATE_DATETIME
    from REAGENT_KIT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, GENE_TYPE, CODE, NAME, ALIAS, REAGENT_KIT_DESC, ORD, DELETE_FLAG, CREATE_USER, 
    CREATE_DATETIME, UPDATE_USER, UPDATE_DATETIME
    from REAGENT_KIT
  </select>

  <select id="selectKitName" resultMap="BaseResultMap2"  >
    select  ID,NAME  from REAGENT_KIT  WHERE  GENE_TYPE = '1'  ORDER BY ORD
  </select>
</mapper>