<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bazl.dna.database.transfer.mapper.TransferCaseQueueMapper">

  <resultMap id="BaseResultMap" type="com.bazl.dna.database.transfer.model.po.TransferCaseQueue">
    <id column="ID"  property="id" />
    <result column="LAB_SERVER_NO"  property="labServerNo" />
    <result column="CASE_ID"  property="caseId" />
    <result column="TRANSFER_STATUS"  property="transferStatus" />
    <result column="TRANSFER_FILE_ROOT_PATH"  property="transferFileRootPath" />
    <result column="TRANSFER_FILE_NAME"  property="transferFileName" />
    <result column="TRANSFER_ERROR_MSG"  property="failedMsg" />
    <result column="CREATE_DATETIME" property="createDatetime" />
    <result column="UPDATE_DATETIME"  property="transferDatetime" />
  </resultMap>

  <sql id="Base_Column_List" >
    q.ID, q.lab_server_no, q.CASE_ID, q.TRANSFER_STATUS, q.TRANSFER_FILE_ROOT_PATH,
    q.TRANSFER_FILE_NAME, q.TRANSFER_ERROR_MSG, q.CREATE_DATETIME, q.UPDATE_DATETIME
  </sql>

  <select id="select" resultMap="BaseResultMap" parameterType="com.bazl.dna.database.transfer.model.po.TransferCaseQueue">
    select
      <include refid="Base_Column_List" />
    from TRANSFER_CASE_QUEUE q
    where q.TRANSFER_STATUS=#{transferStatus, jdbcType=INTEGER}
    and q.LAB_SERVER_NO=#{labServerNo, jdbcType=VARCHAR}
  </select>

  <update id="updateStatus" parameterType="com.bazl.dna.database.transfer.model.po.TransferCaseQueue">
    update TRANSFER_CASE_QUEUE
    set TRANSFER_STATUS=#{transferStatus, jdbcType=INTEGER},
        TRANSFER_ERROR_MSG=#{failedMsg, jdbcType=VARCHAR},
        TRANSFER_FILE_NAME=#{transferFileName, jdbcType=VARCHAR},
        TRANSFER_FILE_ROOT_PATH=#{transferFileRootPath, jdbcType=VARCHAR},
        UPDATE_DATETIME=#{transferDatetime, jdbcType=TIMESTAMP}
    where ID=#{id, jdbcType=VARCHAR}
  </update>

</mapper>