<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bazl.dna.accept.dao.LimsSampleInfoDnaMapper" >
  <resultMap id="BaseResultMap" type="com.bazl.dna.lims.connector.model.po.LimsSampleInfoDna" >
    <id column="SAMPLE_ID" property="sampleId" jdbcType="VARCHAR" />
    <result column="CONSIGNMENT_ID" property="consignmentId" jdbcType="VARCHAR" />
    <result column="CASE_ID" property="caseId" jdbcType="VARCHAR" />
    <result column="EVIDENCE_ID" property="evidenceId" jdbcType="VARCHAR" />
    <result column="SAMPLE_NO" property="sampleNo" jdbcType="VARCHAR" />
    <result column="SAMPLE_NAME" property="sampleName" jdbcType="VARCHAR" />
    <result column="SAMPLE_TYPE" property="sampleType" jdbcType="VARCHAR" />
    <result column="SAMPLE_DESC" property="sampleDesc" jdbcType="VARCHAR" />
    <result column="SAMPLE_PACKING" property="samplePacking" jdbcType="VARCHAR" />
    <result column="SAMPLE_CARRIER" property="sampleCarrier" jdbcType="VARCHAR" />
    <result column="EXTRACT_DATETIME" property="extractDatetime" jdbcType="TIMESTAMP" />
    <result column="EXTRACT_PERSON" property="extractPerson" jdbcType="VARCHAR" />
    <result column="EXTRACT_METHOD" property="extractMethod" jdbcType="VARCHAR" />
    <result column="EXTRACT_PART" property="extractPart" jdbcType="VARCHAR" />
    <result column="SAMPLE_FLAG" property="sampleFlag" jdbcType="VARCHAR" />
    <result column="LINK_ID" property="linkId" jdbcType="VARCHAR" />
    <result column="SAMPLE_PURPOSE" property="samplePurpose" jdbcType="VARCHAR" />
    <result column="SAMPLE_STATUS" property="sampleStatus" jdbcType="VARCHAR" />
    <result column="INSTORED_FLAG" property="instoredFlag" jdbcType="VARCHAR" />
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR" />
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="VARCHAR" />
    <result column="DELETE_DATETIME" property="deleteDatetime" jdbcType="TIMESTAMP" />
    <result column="DELETE_PERSON" property="deletePerson" jdbcType="VARCHAR" />
    <result column="DELETE_REASON" property="deleteReason" jdbcType="VARCHAR" />
    <result column="SAMPLE_REMARK" property="sampleRemark" jdbcType="VARCHAR" />
    <result column="SAMPLE_DNA_PICTURE" property="sampleDnaPicture" jdbcType="VARCHAR" />
    <result column="SAMPLE_DNA_PICTURE_PATH" property="sampleDnaPicturePath" jdbcType="VARCHAR" />
    <result column="SAMPLE_TYPE_NAME" property="sampleTypeName" jdbcType="VARCHAR" />
    <result column="EXTRACT_METHOD_NAME" property="extractMethodName" jdbcType="VARCHAR" />
    <result column="SAMPLE_PACKING_NAME" property="samplePackingName" jdbcType="VARCHAR" />
    <result column="PRE_METHOD1_RESULT" property="preMethod1Result" jdbcType="VARCHAR" />
    <result column="PRE_METHOD2_RESULT" property="preMethod2Result" jdbcType="VARCHAR" />
    <result column="PRE_METHOD3_RESULT" property="preMethod3Result" jdbcType="VARCHAR" />
    <result column="IS_RETAIN" property="isRetain" jdbcType="VARCHAR" />
    <result column="REFUSE_REASON" property="refuseReason" jdbcType="VARCHAR" />
    <result column="SAMPLE_MATERIAL_PICTURE" property="sampleMaterialPicture" jdbcType="VARCHAR" />
    <result column="SAMPLE_MATERIAL_PICTURE_PATH" property="sampleMaterialPicturePath" jdbcType="VARCHAR" />
    <result column="INSTORED_TYPE" property="instoredType" jdbcType="VARCHAR" />
    <result column="INSTORED_DATETIME" property="instoredDatetime" jdbcType="TIMESTAMP" />
    <result column="INSTORED_PERSON" property="instoredPerson" jdbcType="VARCHAR" />
    <result column="EVIDENCE_NO" property="evidenceNo" jdbcType="VARCHAR" />
    <result column="GJK_SYS_NO" property="gjkSYSNo" jdbcType="VARCHAR" />
    <result column="CORE_TAKEN_STATS" property="coreTakenStats" jdbcType="VARCHAR" />
    <result column="CORE_VICTIM_STATS" property="coreVictimStats" jdbcType="VARCHAR" />
    <result column="EVIDENCE_SERIAL_NO" property="evidenceSerialNo" jdbcType="INTEGER" />
  </resultMap>


  <resultMap id="VOBaseResultMap" type="com.bazl.dna.lims.connector.model.vo.LimsSampleInfoDnaVo">
    <id column="SAMPLE_ID" property="entity.sampleId" jdbcType="VARCHAR" />
    <result column="CONSIGNMENT_ID" property="entity.consignmentId" jdbcType="VARCHAR" />
    <result column="CASE_ID" property="entity.caseId" jdbcType="VARCHAR" />
    <result column="EVIDENCE_ID" property="entity.evidenceId" jdbcType="VARCHAR" />
    <result column="SAMPLE_NO" property="entity.sampleNo" jdbcType="VARCHAR" />
    <result column="SAMPLE_NAME" property="entity.sampleName" jdbcType="VARCHAR" />
    <result column="SAMPLE_TYPE" property="entity.sampleType" jdbcType="VARCHAR" />
    <result column="SAMPLE_DESC" property="entity.sampleDesc" jdbcType="VARCHAR" />
    <result column="SAMPLE_PACKING" property="entity.samplePacking" jdbcType="VARCHAR" />
    <result column="SAMPLE_CARRIER" property="entity.sampleCarrier" jdbcType="VARCHAR" />
    <result column="EXTRACT_DATETIME" property="entity.extractDatetime" jdbcType="TIMESTAMP" />
    <result column="EXTRACT_PERSON" property="entity.extractPerson" jdbcType="VARCHAR" />
    <result column="EXTRACT_METHOD" property="entity.extractMethod" jdbcType="VARCHAR" />
    <result column="EXTRACT_PART" property="entity.extractPart" jdbcType="VARCHAR" />
    <result column="SAMPLE_FLAG" property="entity.sampleFlag" jdbcType="VARCHAR" />
    <result column="LINK_ID" property="entity.linkId" jdbcType="VARCHAR" />
    <result column="SAMPLE_PURPOSE" property="entity.samplePurpose" jdbcType="VARCHAR" />
    <result column="SAMPLE_STATUS" property="entity.sampleStatus" jdbcType="VARCHAR" />
    <result column="INSTORED_FLAG" property="entity.instoredFlag" jdbcType="VARCHAR" />
    <result column="CREATE_DATETIME" property="entity.createDatetime" jdbcType="TIMESTAMP" />
    <result column="CREATE_PERSON" property="entity.createPerson" jdbcType="VARCHAR" />
    <result column="UPDATE_DATETIME" property="entity.updateDatetime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_PERSON" property="entity.updatePerson" jdbcType="VARCHAR" />
    <result column="DELETE_FLAG" property="entity.deleteFlag" jdbcType="VARCHAR" />
    <result column="DELETE_DATETIME" property="entity.deleteDatetime" jdbcType="TIMESTAMP" />
    <result column="DELETE_PERSON" property="entity.deletePerson" jdbcType="VARCHAR" />
    <result column="DELETE_REASON" property="entity.deleteReason" jdbcType="VARCHAR" />
    <result column="SAMPLE_REMARK" property="entity.sampleRemark" jdbcType="VARCHAR" />
    <result column="SAMPLE_DNA_PICTURE" property="entity.sampleDnaPicture" jdbcType="VARCHAR" />
    <result column="SAMPLE_DNA_PICTURE_PATH" property="entity.sampleDnaPicturePath" jdbcType="VARCHAR" />
    <result column="SAMPLE_TYPE_NAME" property="entity.sampleTypeName" jdbcType="VARCHAR" />
    <result column="EXTRACT_METHOD_NAME" property="entity.extractMethodName" jdbcType="VARCHAR" />
    <result column="SAMPLE_PACKING_NAME" property="entity.samplePackingName" jdbcType="VARCHAR" />
    <result column="PRE_METHOD1_RESULT" property="entity.preMethod1Result" jdbcType="VARCHAR" />
    <result column="PRE_METHOD2_RESULT" property="entity.preMethod2Result" jdbcType="VARCHAR" />
    <result column="PRE_METHOD3_RESULT" property="entity.preMethod3Result" jdbcType="VARCHAR" />
    <result column="IS_RETAIN" property="entity.isRetain" jdbcType="VARCHAR" />
    <result column="REFUSE_REASON" property="entity.refuseReason" jdbcType="VARCHAR" />
    <result column="SAMPLE_MATERIAL_PICTURE" property="entity.sampleMaterialPicture" jdbcType="VARCHAR" />
    <result column="SAMPLE_MATERIAL_PICTURE_PATH" property="entity.sampleMaterialPicturePath" jdbcType="VARCHAR" />
    <result column="INSTORED_TYPE" property="entity.instoredType" jdbcType="VARCHAR" />
    <result column="GJK_SYS_NO" property="entity.gjkSYSNo" jdbcType="VARCHAR" />
    <result column="BOARD_POSITION" property="boardPosition" jdbcType="VARCHAR" />
    <result column="accept_org_id" property="acceptOrgId" jdbcType="VARCHAR" />
    <result column="EVIDENCE_SERIAL_NO" property="entity.evidenceSerialNo" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    SAMPLE_ID, CONSIGNMENT_ID, CASE_ID, EVIDENCE_ID, SAMPLE_NO, SAMPLE_NAME, SAMPLE_TYPE, SAMPLE_DESC, SAMPLE_PACKING,
    SAMPLE_CARRIER, EXTRACT_DATETIME, EXTRACT_PERSON, EXTRACT_METHOD, EXTRACT_PART, SAMPLE_FLAG,
    LINK_ID, SAMPLE_PURPOSE, SAMPLE_STATUS, INSTORED_FLAG, CREATE_DATETIME, CREATE_PERSON,
    UPDATE_DATETIME, UPDATE_PERSON, DELETE_FLAG, DELETE_DATETIME, DELETE_PERSON, DELETE_REASON,
    SAMPLE_REMARK, SAMPLE_DNA_PICTURE, SAMPLE_DNA_PICTURE_PATH, PRE_METHOD1_RESULT,PRE_METHOD2_RESULT,
    PRE_METHOD3_RESULT,IS_RETAIN, REFUSE_REASON, SAMPLE_MATERIAL_PICTURE, SAMPLE_MATERIAL_PICTURE_PATH,
    INSTORED_TYPE, INSTORED_DATETIME, INSTORED_PERSON,CORE_TAKEN_STATS,CORE_VICTIM_STATS,EVIDENCE_SERIAL_NO
  </sql>

  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from LIMS_SAMPLE_INFO_DNA
    where SAMPLE_ID = #{sampleId,jdbcType=VARCHAR}
  </select>


  <select id="selectByConsignmentId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select lsid.*
    from LIMS_SAMPLE_INFO_DNA lsid
    where lsid.DELETE_FLAG = '0' and lsid.CONSIGNMENT_ID = #{consignmentId,jdbcType=VARCHAR}
    order by lsid.SAMPLE_FLAG asc, lsid.SAMPLE_NO asc
  </select>

  <select id="selectList" parameterType="com.bazl.dna.lims.connector.model.po.LimsSampleInfoDna" resultMap="BaseResultMap">
    select lsid.*,
    di_1.dict_name as instoredTypeName
    from LIMS_SAMPLE_INFO_DNA lsid
    left join dict_item di_1 on lsid.instored_type = di_1.dict_code and di_1.DICT_TYPE_CODE='INSTORED_TYPE'
    where lsid.DELETE_FLAG = '0'
    <if test="_parameter != null">
      <include refid="Query_Where_Clause"/>
    </if>
  </select>

  <sql id="Query_Where_Clause">
    <if test="caseId != null">
      and lsid.CASE_ID = #{caseId,jdbcType=VARCHAR}
    </if>
    <if test="consignmentId != null">
      and lsid.CONSIGNMENT_ID = #{consignmentId,jdbcType=VARCHAR}
    </if>
    <if test="instoredFlag != null">
      and lsid.INSTORED_FLAG = #{instoredFlag,jdbcType=VARCHAR}
    </if>
  </sql>


  <select id="selectVoList" parameterType="com.bazl.dna.lims.connector.model.vo.LimsSampleInfoDnaVo" resultMap="VOBaseResultMap">
    select lsid.*
    from LIMS_SAMPLE_INFO_DNA lsid
    where lsid.DELETE_FLAG = '0'
    <if test="_parameter != null">
      <include refid="VO_Query_Where_Clause"/>
    </if>
  </select>


  <select id="selectSampleInfos" parameterType="java.lang.String"  resultMap="VOBaseResultMap">
    select t.*, t.rowid from LIMS_SAMPLE_INFO_DNA t
    where t.delete_flag = '0'
    and t.instored_flag = '1'
    and t.case_id = #{caseId,jdbcType=VARCHAR}
  </select>

  <sql id="VO_Query_Where_Clause">
    <if test="entity.caseId != null">
      and lsid.CASE_ID = #{entity.caseId,jdbcType=VARCHAR}
    </if>
  </sql>



  <select id="isStoredBySampleId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from LIMS_SAMPLE_INFO_DNA lsi
    where lsi.SAMPLE_ID = #{sampleId,jdbcType=VARCHAR}
  </select>


  <insert id="insertSampleInfoDna" parameterType="com.bazl.dna.lims.connector.model.po.LimsSampleInfoDna" >
    insert into LIMS_SAMPLE_INFO_DNA (SAMPLE_ID, CONSIGNMENT_ID, CASE_ID,
    EVIDENCE_ID, SAMPLE_NO, SAMPLE_NAME,
    SAMPLE_TYPE, SAMPLE_DESC, SAMPLE_PACKING,
    SAMPLE_CARRIER, EXTRACT_DATETIME, EXTRACT_PERSON,
    EXTRACT_METHOD, EXTRACT_PART, SAMPLE_FLAG,
    LINK_ID, SAMPLE_PURPOSE, SAMPLE_STATUS,
    INSTORED_FLAG, CREATE_DATETIME, CREATE_PERSON,
    UPDATE_DATETIME, UPDATE_PERSON, DELETE_FLAG,
    DELETE_DATETIME, DELETE_PERSON, DELETE_REASON,
    SAMPLE_REMARK, SAMPLE_DNA_PICTURE, SAMPLE_DNA_PICTURE_PATH,
    PRE_METHOD1_RESULT,PRE_METHOD2_RESULT,PRE_METHOD3_RESULT,IS_RETAIN,
    REFUSE_REASON, SAMPLE_MATERIAL_PICTURE, SAMPLE_MATERIAL_PICTURE_PATH,CORE_TAKEN_STATS,CORE_VICTIM_STATS,EVIDENCE_SERIAL_NO
    )
    values (#{sampleId,jdbcType=VARCHAR}, #{consignmentId,jdbcType=VARCHAR}, #{caseId,jdbcType=VARCHAR},
    #{evidenceId,jdbcType=VARCHAR}, #{sampleNo,jdbcType=VARCHAR}, #{sampleName,jdbcType=VARCHAR},
    #{sampleType,jdbcType=VARCHAR}, #{sampleDesc,jdbcType=VARCHAR}, #{samplePacking,jdbcType=VARCHAR},
    #{sampleCarrier,jdbcType=VARCHAR}, #{extractDatetime,jdbcType=TIMESTAMP}, #{extractPerson,jdbcType=VARCHAR},
    #{extractMethod,jdbcType=VARCHAR}, #{extractPart,jdbcType=VARCHAR}, #{sampleFlag,jdbcType=VARCHAR},
    #{linkId,jdbcType=VARCHAR}, #{samplePurpose,jdbcType=VARCHAR}, #{sampleStatus,jdbcType=VARCHAR},
    #{instoredFlag,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR},
    #{updateDatetime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=VARCHAR},
    #{deleteDatetime,jdbcType=TIMESTAMP}, #{deletePerson,jdbcType=VARCHAR}, #{deleteReason,jdbcType=VARCHAR},
    #{sampleRemark,jdbcType=VARCHAR}, #{sampleDnaPicture,jdbcType=VARCHAR}, #{sampleDnaPicturePath,jdbcType=VARCHAR},
    #{preMethod1Result,jdbcType=VARCHAR},#{preMethod2Result,jdbcType=VARCHAR},#{preMethod3Result,jdbcType=VARCHAR},
    #{isRetain,jdbcType=VARCHAR}, #{refuseReason,jdbcType=VARCHAR}, #{sampleMaterialPicture,jdbcType=VARCHAR}, #{sampleMaterialPicturePath,jdbcType=VARCHAR},
    #{coreTakenStats,jdbcType=VARCHAR},#{coreVictimStats,jdbcType=VARCHAR},#{evidenceSerialNo,jdbcType=INTEGER}
    )
  </insert>

  <update id="updateSampleInfoDna" parameterType="com.bazl.dna.lims.connector.model.po.LimsSampleInfoDna" >
    update LIMS_SAMPLE_INFO_DNA
    set CONSIGNMENT_ID = #{consignmentId,jdbcType=VARCHAR},
    CASE_ID = #{caseId,jdbcType=VARCHAR},
    EVIDENCE_ID = #{evidenceId,jdbcType=VARCHAR},
    SAMPLE_NO = #{sampleNo,jdbcType=VARCHAR},
    SAMPLE_NAME = #{sampleName,jdbcType=VARCHAR},
    SAMPLE_TYPE = #{sampleType,jdbcType=VARCHAR},
    SAMPLE_DESC = #{sampleDesc,jdbcType=VARCHAR},
    SAMPLE_PACKING = #{samplePacking,jdbcType=VARCHAR},
    SAMPLE_CARRIER = #{sampleCarrier,jdbcType=VARCHAR},
    EXTRACT_DATETIME = #{extractDatetime,jdbcType=TIMESTAMP},
    EXTRACT_PERSON = #{extractPerson,jdbcType=VARCHAR},
    EXTRACT_METHOD = #{extractMethod,jdbcType=VARCHAR},
    EXTRACT_PART = #{extractPart,jdbcType=VARCHAR},
    SAMPLE_FLAG = #{sampleFlag,jdbcType=VARCHAR},
    LINK_ID = #{linkId,jdbcType=VARCHAR},
    SAMPLE_PURPOSE = #{samplePurpose,jdbcType=VARCHAR},
    SAMPLE_STATUS = #{sampleStatus,jdbcType=VARCHAR},
    INSTORED_FLAG = #{instoredFlag,jdbcType=VARCHAR},
    CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
    CREATE_PERSON = #{createPerson,jdbcType=VARCHAR},
    UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
    UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR},
    DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR},
    DELETE_DATETIME = #{deleteDatetime,jdbcType=TIMESTAMP},
    DELETE_PERSON = #{deletePerson,jdbcType=VARCHAR},
    DELETE_REASON = #{deleteReason,jdbcType=VARCHAR},
    SAMPLE_REMARK = #{sampleRemark,jdbcType=VARCHAR},
    PRE_METHOD1_RESULT = #{preMethod1Result,jdbcType=VARCHAR},
    PRE_METHOD2_RESULT = #{preMethod2Result,jdbcType=VARCHAR},
    PRE_METHOD3_RESULT = #{preMethod3Result,jdbcType=VARCHAR},
    IS_RETAIN = #{isRetain,jdbcType=VARCHAR},
    REFUSE_REASON = #{refuseReason,jdbcType=VARCHAR},
    SAMPLE_MATERIAL_PICTURE = #{sampleMaterialPicture,jdbcType=VARCHAR},
    SAMPLE_MATERIAL_PICTURE_PATH = #{sampleMaterialPicturePath,jdbcType=VARCHAR},
    CORE_TAKEN_STATS = #{coreTakenStats,jdbcType=VARCHAR},
    CORE_VICTIM_STATS = #{coreVictimStats,jdbcType=VARCHAR},
    EVIDENCE_SERIAL_NO = #{evidenceSerialNo,jdbcType=INTEGER}
    where SAMPLE_ID = #{sampleId,jdbcType=VARCHAR}
  </update>

  <delete id="deleteBySampleId" parameterType="java.lang.String">
    DELETE from LIMS_SAMPLE_INFO_DNA where SAMPLE_ID = #{sampleId,jdbcType=VARCHAR}
  </delete>

  <select id="selectBySampleNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select lsid.*, di_1.dict_name as SAMPLE_TYPE_NAME
    from LIMS_SAMPLE_INFO_DNA lsid
    left join dict_item di_1 on lsid.sample_type = di_1.dict_code and di_1.DICT_TYPE_CODE='SAMPLE_TYPE'
    where lsid.SAMPLE_NO = #{sampleNo,jdbcType=VARCHAR} and lsid.delete_flag='0' and lsid.SAMPLE_STATUS in ('02','03')
  </select>

  <select id="selectBySampleId" resultMap="BaseResultMap">
    select * from LIMS_SAMPLE_INFO_DNA lsid where SAMPLE_ID = #{sampleId,jdbcType=VARCHAR} and delete_flag = '0'
  </select>

</mapper>