<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bazl.dna.lims.core.dao.ExaminerMapper" >
  <resultMap id="BaseResultMap" type="com.bazl.dna.lims.core.model.po.Examiner" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="INSPECTOR1" property="inspector1" jdbcType="VARCHAR" />
    <result column="INSPECTOR2" property="inspector2" jdbcType="VARCHAR" />
    <result column="INSPECTOR3" property="inspector3" jdbcType="VARCHAR" />
    <result column="CASE_ID" property="caseId" jdbcType="VARCHAR" />
    <result column="TITLEONE" property="titleOne" jdbcType="VARCHAR" />
    <result column="TITLETWO" property="titleTwo" jdbcType="VARCHAR" />
    <result column="TITLETHREE" property="titleThree" jdbcType="VARCHAR" />
    <result column="CNAS_SEAL" property="cnasSeal" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.bazl.dna.lims.core.model.po.Examiner" >
    insert into EXAMINER (ID, INSPECTOR1, INSPECTOR2, INSPECTOR3,
     CASE_ID，TITLEONE,TITLETWO,TITLETHREE,CNAS_SEAL)
    values (
    #{id,jdbcType=VARCHAR},
    #{inspector1,jdbcType=VARCHAR},
    #{inspector2,jdbcType=VARCHAR},
    #{inspector3,jdbcType=VARCHAR},
    #{caseId,jdbcType=VARCHAR},
    #{titleOne,jdbcType=VARCHAR},
    #{titleTwo,jdbcType=VARCHAR},
    #{titleThree,jdbcType=VARCHAR},
    #{cnasSeal,jdbcType=VARCHAR}
    )
  </insert>
  <select id="queryExaminer" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT  ID, INSPECTOR1, INSPECTOR2, INSPECTOR3,
     CASE_ID，TITLEONE,TITLETWO,TITLETHREE,CNAS_SEAL
    FROM EXAMINER WHERE CASE_ID=#{caseId,jdbcType=VARCHAR}
  </select>

  <update id="update" parameterType="com.bazl.dna.lims.core.model.po.Examiner" >
    update EXAMINER
    set
      INSPECTOR1 = #{inspector1,jdbcType=VARCHAR},
      INSPECTOR2 = #{inspector2,jdbcType=VARCHAR},
      INSPECTOR3 = #{inspector3,jdbcType=VARCHAR},
      TITLEONE = #{titleOne,jdbcType=VARCHAR},
      TITLETWO = #{titleTwo,jdbcType=VARCHAR},
      TITLETHREE = #{titleThree,jdbcType=VARCHAR},
      CNAS_SEAL = #{cnasSeal,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectListByCaseId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
     e.ID, e.INSPECTOR1, e.INSPECTOR2, e.INSPECTOR3,
     e.CASE_ID, e.TITLEONE,e.TITLETWO,e.TITLETHREE,
     di_1.dict_name as titleOneName,
     di_2.dict_name as titleTwoName,
     di_3.dict_name as titleThreeName,
     e.CNAS_SEAL
     from EXAMINER e
     left join dict_item di_1 on di_1.DICT_CODE = e.TITLEONE and di_1.DICT_TYPE_CODE = 'TECHNICAL_TITLES'
     left join dict_item di_2 on di_2.DICT_CODE = e.TITLETWO and di_2.DICT_TYPE_CODE = 'TECHNICAL_TITLES'
     left join dict_item di_3 on di_3.DICT_CODE = e.TITLETHREE and di_3.DICT_TYPE_CODE = 'TECHNICAL_TITLES'
     where CASE_ID = #{caseId,jdbcType=VARCHAR}
  </select>
</mapper>